<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong></br>
  <img src=<%= @book.image_url %> width="250" height="350">
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author.name %>
</p>

<p>
  <strong>View:</strong>
  <%= @book.impressions_count %>
</p>
<% @all_comment.each do |t| %>
  <% unless t.new_record? %>
    <ul>
      <li><%= t.user.try(:email) %></i> : <%= t.comment %></li>
    </ul>
  <% end %>
<% end %>


<%= form_for(@new_comment) do |f| %>
  <%= f.text_area :comment %>
  <%= f.hidden_field :commentable_type %>
  <%= f.hidden_field :commentable_id %>
</br>
  <%= f.submit %>
<% end %>

<%= link_to 'Back', books_path %>