<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

  <%= render 'layouts/top_nav' , categories: @categories , authors: @authors %>

</br>
</br>
</br>
<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <button class="close" data-dismiss="alert">x</button>
      <%= flash[:notice] %>
    </div>
  <% end %>
  
  <% if flash[:alert] %>
      <div class="alert alert-danger">
        <button class="close" data-dismiss="alert">x</button>
        <%= flash[:alert] %>
      </div>
  <% end %>
  
  <%= yield %>
</div>

</body>
</html>
